
.ant-modal {
  width: 90% !important;
}

.content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.flower {
  display: flex;
  gap: 20px;
}

.ant-card {
  width: 50%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
